  /* UIView */

  .view { position: relative; width: 100%; }
  .view-area {height: 100%; width: 100%; position: absolute; z-index: 1; top: 0; left: 0;}
  .view-image { width: 100%; display: block; }

    html, body { margin:0; padding:0; height:100%; width:100% }
    #target { height: 100%; width: 100%;}
